.box-message {
    position : fixed ; 
    top: 0; 
    right : 0 ; 
    left: 0 ; 
    bottom : 0 ; 
    margin: auto ; 
    padding-top: 16rem;
    z-index: 1000111 ;
    display: flex;
    justify-content: center;
    &-wrapper {
        width: 400px;
        background: #fff;
        text-align: center;
        padding: 2rem;
        border-radius: 4px;
        border: 1px solid #a8a8a870;
        height: 155px;
        animation: TopSlide 0.25s linear;
        display: flex;
        flex-direction: column;
        & h2 {
            color: #777777;
            flex:1
        }
    }
    &-btn button {
        padding: 0.4rem 2.4rem;
        outline: none;
        border: none;
        border-radius: 4px;
        color: #fff;
        font-size: 1.8rem;
        transition: 0.25s;
        margin: 0 0.4rem;
        &:hover {
            opacity: 0.9;
        }
    }
    &-btn--cancel {
        background-color: #919191;
    }
    &-btn--delete {
        background-color: #3f51b5;
        width: 12rem;
    }
}

@keyframes TopSlide {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0);
    }
}