.pagination .page-item {
  margin: 0 0.4rem;
  box-shadow: 0px 1.5rem 6rem rgba(0, 0, 0, 0.4);
}

.pagination .page-item.active .page-link {
  background: rgb(255, 71, 126) !important;
  color: #fff;
}

.pagination .page-item:hover .page-link {
  background: rgba(255, 71, 126, 0.4);
  cursor: pointer;
}

.pagination .page-item .page-link {
  font-size: 1.6rem;
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 0.4rem !important;
  padding: 0.6rem 1rem;
}
