.table-section {
  position: relative;
  top: 0;
  left: var(--width-menu);
  width: calc(100% - var(--width-menu));
  padding: 4rem 4rem 0;
  ::-webkit-scrollbar-thumb {
    background-color: #222e3c;
    border-radius: 100rem;
  }
  .table-heading {
    text-align: center;
    margin-bottom: 3rem;
  }
  .table-container {
    border: 1px solid #e0e0e0;
    border-radius: 0.6rem;
    // padding: 2rem;
    .table-wrapper {
      overflow: auto;
      max-height: calc(100vh - 20rem);
      // 1632
      .table {
        border-radius: 0.6rem 0.6rem 0 0;
        & > :not(:first-child) {
          border-top: none !important;
        }

        & tbody {
          border-top: none;
          border-style: none;
          border: 1px solid #e0e0e0;
        }
        & .field-row {
          // background: rgb(237, 251, 255);
          // border: 1px solid #e0e0e0;
          border-top: none;
          height: 42px;
          border-radius: 1.4rem;
        }
        & .field-column {
          background: rgb(237, 251, 255);
          border-bottom: 1px solid #e0e0e0;
          border-top: none;
          position: -webkit-sticky;
          position: sticky;
          top: 0;
          z-index: 2;
          padding: 1.2rem 2.2rem;
          color: var(--text-color);
          white-space: nowrap;
          &[scope="row"] {
            position: -webkit-sticky;
            position: sticky;
            left: 0;
            z-index: 1;
          }
        }
        &.value-row {
          max-height: calc(100vh - 40rem);
          overflow: auto;
        }
        &.value-column {
          margin: auto 0;
          // padding: 1rem 1.5rem;
          color: #5a5a5a;
          font-size: 1.6rem;
          min-height: 2rem;
          max-height: 12rem;
          vertical-align: middle;
          & .img-wrapper {
            width: 12rem;
            height: 12rem;
            & .img-fluid {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          & .options {
            display: flex;
            align-items: center;
            & span {
              margin: 0 0.4rem;
            }
          }
        }
      }
      .value-row {
        border-bottom: 1px solid #e0e0e0;
      }
    }
  }
  .table {
    .field-row {
      .field-column {
      }
    }
  }
}
