.table-section {
  position: relative;
  top: 0;
  left: var(--width-menu);
  width: calc(100% - var(--width-menu));
  padding: 4rem 4rem 0;
  ::-webkit-scrollbar-thumb {
    background-color: #222e3c;
    border-radius: 100rem;
  }
  .table-heading {
    text-align: center;
    margin-bottom: 3rem;
  }
  .table-container {
    border: 1px solid #e0e0e0;
    border-radius: 0.6rem;
    // padding: 2rem;
    .table-wrapper {
      overflow: auto;
      max-height: calc(100vh - 20rem);
      // 1632
      .table {
        border-radius: 0.6rem 0.6rem 0 0;
        overflow: hidden;
        & > :not(:first-child) {
          border-top: none !important;
        }
        & tbody {
          border-top: none;
          border-style: none;
          border: 1px solid #e0e0e0;
        }
        & .field-row {
          // background: rgb(237, 251, 255);
          // border: 1px solid #e0e0e0;
          border-top: none;
          height: 42px;
          border-radius: 1.4rem;
        }
        & .field-column {
          color: var(--text-color);
        }
        &.value-column {
          margin: auto 0;
          // padding: 1rem 1.5rem;
          color: #5a5a5a;
          font-size: 1.6rem;
        }
      }
      .value-row {
        border-bottom: 1px solid #e0e0e0;
      }
    }
  }
  .table {
    .field-row {
      .field-column {
      }
    }
  }
}
