:root{
    --primary : #FF477E ; 
    --price-text : #FF6259 ; 
}

*{
    padding : 0 ; margin: 0 ; 
    outline: none ; 
    box-sizing: border-box ; 
}

html{
    font-size: 62.5% ; 
    text-decoration: none ;
    scroll-behavior : smooth ;
}

.btn{
    background: var(--primary) ; 
    text-align:center ; 
    padding: .4rem 1.2rem ; 
    box-shadow: 10px 9px 30px 0px #0C0E2008 ; 
    border-radius: 3rem ;
    margin: 3.2rem 0 ;
    border: none ; 
    cursor: pointer ; 
    color: #fff ; 
    font-size: 1.6rem ; 
    padding: 1rem 1.6rem ; 
    text-transform : capitalize ; 
}

.btn:hover{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
    linear-gradient(0deg, var(--primary), var(--primary));
}

.btn:focus{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(0deg, var(--primary), var(--primary));
}

.product-content {
    display: flex  ; 
    flex: 1 1 40rem ;
    flex-wrap: wrap ;
    /* width: calc(100% - 32rem ) ; 
    margin: 12rem auto ;  */
}


.product-content .image .wrapper{
    width: 99% ; 
    border-radius: 3rem ; 
    box-shadow: 0px 15px 60px 0px #0000001F;
    padding: 1.6rem ; 
}

.product-content .image img{
    height: 100% ; 
    width: 100% ; 
    object-fit: cover ; 
    border-radius: 3rem ; 
}

.product-content .content .wrapper{
    width:99% ; 
}

.product-content .content .wrapper a{
    color: #fff ; 
}

.product-content .content h2{
    font-size: 4.8rem ;
    font-weight: bold ; 
    color: #252D2E ; 
    margin: 1.2rem 0 ; 
}

.product-content .content p{
    font-size: 1.8rem ; 
    line-height: 1.4 ; 
    text-align: justify ; 
    color: #999999 ; 
    margin: 1.2rem 0 ; 
}

.product-content .content h4{
    font-size: 1.4rem ; 
    color: #252D2E ;
    line-height: center ; 
}

.product-content .content h4 span{
    font-size: 2.6rem ; 
    color: var(--primary) ; 
}

.product-form{
    display: flex ; 
    flex-wrap: wrap-reverse ;
    background: #F9F9F9 ; 
    border-radius: 1.2rem ; 
}

#form-section{
    background:#F9F9F9 ; 
}

.product-form form .wrapper{
    margin-top: 4rem ; 
}

.product-form form h2{
    text-align: center ; 
    font-size: 3.4rem ; 
    margin-bottom: 4rem ; 
    text-transform: capitalize ; 
}

.product-form form .input-group{
    display: flex ; 
    align-items : center ;
    justify-content: space-between ; 
    width: 100% ; 
    margin-bottom: 2.4rem ; 
    flex-wrap: wrap ; 
}

.product-form form .input-group label{
    font-size: 1.6rem ; 
    font-weight: 700 ; 
    color: #252D2E;
    width: 16rem; 
}

.product-form form .input-group input{
    font-size: 1.6rem ; 
    padding: 1.2rem ; 
    border-radius: 3rem !important ; 
    box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.08);
    border: none ; 
    background: #fff ; 
    flex: 1 ; 
}

.product-form form .input-group input::placeholder{
    color: #B3B3B3;
}

.product-form .image .wrapper{
    margin-top:12rem ; 
    display: flex ; 
    flex-direction: column ;
}

.product-form .image .wrapper img{
    width: 76% ; 
    margin:auto ; 
}

.product-form .image .wrapper button{
    width: 56%;
    margin: auto;
    margin-top: 1.2rem;
}

@media (max-width : 991px){
    html{
        font-size: 60% ; 
    }

    .product-form form .input-group label{
        width: 100% ; 
    }

}

@media (max-width : 768px){
    .product-content .content .wrapper{
        text-align: center ; 
    }
    
} 