.footer {
  position: relative;
  z-index: 90;
  right: var(--navbar-width);
  width: calc(100% - var(--navbar-width));
  left: 0;
  bottom: 0;
  min-height: 80px;
  margin-top: 5rem;
  padding: 50px 20px 20px;
  background: transparent;
  border-top: 1px solid rgba(255, 71, 126, 0.9);
  &__info {
    display: flex;
    align-items: center;
    justify-content: center;
    & .footer__title {
      font-size: 2.2rem;
      font-weight: 500;
      margin-bottom: 2rem;
    }
    & .footer__contact, .footer__social {
      margin: 0 5rem;
    }

    & .footer__contact-list {
      list-style: none;
      padding: 0;
      & li {
        display: flex;
        align-items: center;
        & .icon {
          font-size: 1.8rem;
          width: 1.8rem;
          color: var(--primary-color);
        }
        & .text {
          font-size: 1.6rem;
          margin: 0;
          margin-left: 1.2rem;
        }
      }
    }
    & .footer__social-list {
      list-style: none;
      padding: 0;
      display: flex;
      & li {
        margin-right: 1rem;
        & svg {
          width: 4rem;
          height: 4rem;
        }
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
  & img {
    width: 180px;
    height: 65px;
    object-fit: cover;
    margin: 3rem auto 0;
  }
}

/* Responsive */

// Mobile: width < 740px
@media (max-width: 1024px) {
  .footer {
    position: relative;
    z-index: 90;
    right: 0;
    bottom: calc(var(--navbar-height-mobile) + 52px);
    left: 0;
    flex-direction: column;
    justify-content: center;
    background: unset;
    box-shadow: unset;
    &__copyright {
      font-size: 1.2rem;
    }
  }
}

// Tablet: width >= 740px and width < 1024px
@media (min-width: 46.25em) and (max-width: 63.9375em) {
}
