.footer {
  position: relative;
  z-index: 90;
  right: var(--navbar-width);
  width: calc(100% - var(--navbar-width));
  left: 0;
  bottom: 0;
  min-height: 80px;
  padding: 2.5rem 0;
  background: transparent;
  border-top: 1px solid rgba(255, 71, 126, 0.9);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  &__title {
    font-size: 2.2rem;
    line-height: 2.2rem;
    font-weight: 500;
    margin-bottom: 1.6rem;
    color: #757575;
  }
  & .footer__contact,
  .footer__social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 5rem;
    height: 100%;
  }

  & .footer__contact-list {
    list-style: none;
    padding: 0;
    & li {
      display: flex;
      align-items: center;
      & .icon {
        font-size: 1.8rem;
        width: 1.8rem;
        color: var(--primary-color);
      }
      & .text {
        font-size: 1.6rem;
        line-height: 1.6;
        margin: 0;
        margin-left: 1.2rem;
        color: #0000008a;
      }
    }
  }
  & .footer__social-list {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
    & li {
      margin-right: 1.2rem;
      & svg {
        width: 4rem;
        height: 4rem;
      }
      &:hover {
        opacity: 0.8;
      }
    }
  }
  &__check-in {
    margin: 0 5rem;
    & img {
      width: 132px;
      height: 50px;
      object-fit: contain;
      margin: 0 auto;
    }
  }
}

/* Responsive */

@media (max-width: 63.9375em) {
  .footer {
    height: calc(16rem + var(--navbar-height-tablet));
    right: 0;
    width: 100%;
    background: unset;
    box-shadow: unset;
    padding: 2rem 0 var(--navbar-height-tablet);
    &__title {
      display: none;
    }
    & .footer__contact {
      position: absolute;
      bottom: calc(1rem + var(--navbar-height-tablet));
      flex-direction: unset;
      justify-content: unset;
      &-list {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        & .icon {
          display: none;
        }
        & li .text {
          font-size: 1.4rem;
          margin-left: 0;
        }
      }
    }
    & .footer__social {
      height: 5rem;
    }
  }
}

// Mobile: width < 740px
@media (max-width: 46.1875em) {
  .footer {
    height: calc(22.6rem + var(--navbar-height-mobile));
    padding: 2rem 0 var(--navbar-height-mobile);
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    &__title {
      display: none;
    }
    & .footer__contact {
      position: absolute;
      bottom: calc(0.2rem + var(--navbar-height-mobile));
      &-list {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        & .icon {
          display: none;
        }
        & li .text {
          font-size: 1.4rem;
          margin-left: 0;
          text-align: center;
        }
      }
    }
    & .footer__social {
      width: 20.2rem;
      margin-bottom: 1rem;
      border-bottom: 1px solid #d1d1d1;
      padding-bottom: 1.6rem;
      &-list {
        flex-direction: unset;
        justify-content: center;
        & li {
          margin-right: unset;
          margin: 0 0.6rem;
          & svg {
            width: 3.6rem;
            height: 3.6rem;
            & .path {
              fill: #cccccc;
              &:focus {
                opacity: 0.8;
              }
            }
          }
        }
      }
    }
  }
}
