.navbar {
  position: fixed;
  z-index: 100;
  top: var(--navbar-width);
  right: 0;
  width: 140px;
  height: 100vh;
  padding: 0;
  background: linear-gradient(
    90deg,
    #f1f1f1 -5.33%,
    rgba(245, 245, 245, 0) 100%
  );
  border-radius: 30px 0px 0px 0px;
  &__list {
    list-style: none;
    width: 100%;
    height: 100%;
    margin: 0;
    margin-top: 30px;
    padding: 0;
  }
  &__item {
    transition: 0.25s;
    width: 90px;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto 45px;
    border-radius: 16px;
    background-color: var(--white-color);
    text-decoration: none;
    &:hover {
      box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.12);
    }
    &-icon {
      width: 24px;
      height: 24px;
    }
    &-name {
      margin: 0;
      margin-top: 5px;
      font-size: 1.4rem;
      color: var(--text-color);
    }
    &.active {
      background: var(--primary-color);
      box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.12);
    }
    &.active path,
    &.active .navbar__item-name {
      stroke: var(--white-color);
      color: var(--white-color);
    }
  }
}

/* Responsive */

@media (max-width: 63.9375em) {
  .navbar {
    top: unset;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background: var(--white-color);
    box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.08);
    border-radius: 30px 30px 0px 0px;
    &__list {
      margin-top: unset;
      display: flex;
    }
    &__item {
      height: unset;
      border-radius: unset;
      margin: 0 auto 0;
      &-icon {
        & path {
          stroke: #999999;
        }
      }
      &-name {
        margin-top: 0.4rem;
        color: #999999;
      }
      &.active {
        background: unset;
        box-shadow: unset;
      }
      &.active path,
      &.active .navbar__item-name {
        stroke: var(--primary-color);
        color: var(--primary-color);
      }
    }
  }
 }


@media (min-width: 46.25em) and (max-width: 63.9375em) {
  .navbar {
    height: var(--navbar-height-tablet);
    background: var(--white-color);
    &__item {
      &-icon {
        width: 2.2rem;
        height: 2.2rem;
      }
      &-name {
        font-size: 1.6rem;
      }
    }
  }
 }



// Mobile: width < 740px
@media (max-width: 46.1875em) {
  .navbar {
    height: var(--navbar-height-mobile);
    overflow: hidden;
    &__item {
      &-icon {
        width: 2rem;
        height: 2rem;
      }
      &-name {
        margin-top: 0.4rem;
        font-size: 1.4rem;
      }
    }
  }
}