.header {
  height: 90px;
  background: var(--white-color);
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  right: 0;
  z-index: 60;
  transition: all linear 0.1s;
  &.is-show {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  &-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-logo {
    display: flex;
    align-items: center;
    gap: 0 12px;
    img {
      height: 60px;
      object-fit: cover;
      user-select: none;
    }
    h2 {
      color: var(--primary-color);
      font-size: 26px;
      font-weight: 600;
      letter-spacing: 1px;
    }
  }
  &-nav__list {
    display: flex;
    align-items: center;
    gap: 0 20px;
  }
  &-nav__item {
    font-size: 1.4rem;
    color: var(--text-primary);
    font-weight: 500;
    transition: all linear 0.1s;
    text-transform: uppercase;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      // background-color: #d80001;
      transition: all linear 0.25s;
    }
    &:hover::after {
      width: 100%;
    }
    &:hover {
      color: var(--primary);
    }
  }

  &-nav__contact {
    color: white;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    gap: 0 4px;
    font-weight: 500;
    &:hover {
      color: white;
    }
  }
}

// Effect text
.text-effect,
.text-child {
  font-size: inherit;
  display: inline-block;
}
.text-child {
  margin-left: 1px;
}
.text-effect .text-child:nth-child(1) {
  animation: textEffect infinite 2.5s;
}
.text-effect .text-child:nth-child(2) {
  animation: textEffect infinite 2.5s 0.1s;
}
.text-effect .text-child:nth-child(3) {
  animation: textEffect infinite 2.5s 0.2s;
}
.text-effect .text-child:nth-child(4) {
  animation: textEffect infinite 2.5s 0.3s;
}
.text-effect .text-child:nth-child(5) {
  animation: textEffect infinite 2.5s 0.4s;
}
.text-effect .text-child:nth-child(6) {
  animation: textEffect infinite 2.5s 0.5s;
}
.text-effect .text-child:nth-child(7) {
  animation: textEffect infinite 2.5s 0.6s;
}
.text-effect .text-child:nth-child(8) {
  animation: textEffect infinite 2.5s 0.7s;
}
.text-effect .text-child:nth-child(9) {
  animation: textEffect infinite 2.5s 0.8s;
}
.text-effect .text-child:nth-child(10) {
  animation: textEffect infinite 2.5s 0.9s;
}

// KeyFrames
@keyframes textEffect {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-7px);
  }
  40% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
