.product {

  &-title {
    text-transform: capitalize;
    font-size: 2.4rem;
    color: var(--new-primary-text);
    font-weight: 500;
    margin: 40px 0 20px;
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 12px 12px;
  }

  &-item {
    width: 100%;
    user-select: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 8px;
    border-radius: 8px;
    background-color: #fff;
    position: relative;
    transition: 0.1s linear;
    border: 1px solid transparent;
    &:hover {
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      border-color: var(--primary-color);
    }

    &:hover .product-more {
      display: block;
      animation: fadeIn linear 0.2s;
    }
    &--hover {
      box-shadow: none !important;
      &:hover {
        box-shadow: none !important;
        border-color: transparent !important;
      }
    }
  }

  &-img {
    height: 180px;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &-body {
    padding: 8px 0;
  }

  &-name {
    font-size: 1.4rem;
    color: var(--new-primary-text);
    line-height: 1.8rem;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-bottom: 8px;
    font-weight: 500;
  }

  &-price {
    font-size: 1.4rem;
    color: var(--new-primary-text);
    margin-bottom: 8px;
  }

  &-phone {
    color: var(--new-primary-text);
    font-size: 1.4rem;
    color: var(--primary-color);
    padding: 4px 8px;
    border-radius: 8px;
    font-weight: 500;
    background-color: rgba(216, 0, 1, 0.1);
    display: inline;
  }
}

// Responsive
/* Mobile & tablet: width <1024px */
@media only screen and (max-width: 63.9375em) {
}

/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
  .product {
    &-wrap {
      padding: 24px;
    }

    &-list {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

/* Mobie: width < 740px */
@media only screen and (max-width: 46.1875em) {
  .product {
    &-wrap {
      padding: 12px;
    }

    &-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
