#form-section {
  background: #f9f9f9;
}

.background-page.product-detail {
  padding-top: 90px;
}

/* Mobie: width < 740px */
@media only screen and (max-width: 739px) {
  .background-page.product-detail {
    padding-top: 65px;
  }
}
