body {
  background: #f0f0f0;
  overflow-x: hidden;
}

// Background Page
.background-page {
  background: #f0f0f0;
  // background-image: url("data:image/svg+xml,%3Csvg%0A%20%20%20%20%20%20%20%20width%3D%22491%22%0A%20%20%20%20%20%20%20%20height%3D%222045%22%0A%20%20%20%20%20%20%20%20viewBox%3D%220%200%20491%202045%22%0A%20%20%20%20%20%20%20%20fill%3D%22none%22%0A%20%20%20%20%20%20%20%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%0A%20%20%20%20%20%20%3E%0A%20%20%20%20%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20%20%20%20d%3D%22M460.904%200H0V2045H271.404C287.973%202045%20301.404%202031.57%20301.404%202015V1237.53C301.404%201235.97%20301.526%201234.4%20301.77%201232.86L490.538%2034.6688C493.406%2016.463%20479.334%200%20460.904%200Z%22%0A%20%20%20%20%20%20%20%20%20%20fill%3D%22%2359C3FF%22%0A%20%20%20%20%20%20%20%20%2F%3E%0A%20%20%20%20%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20%20%20%20d%3D%22M460.904%200H0V2045H271.404C287.973%202045%20301.404%202031.57%20301.404%202015V1237.53C301.404%201235.97%20301.526%201234.4%20301.77%201232.86L490.538%2034.6688C493.406%2016.463%20479.334%200%20460.904%200Z%22%0A%20%20%20%20%20%20%20%20%20%20fill%3D%22white%22%0A%20%20%20%20%20%20%20%20%20%20fill-opacity%3D%220.8%22%0A%20%20%20%20%20%20%20%20%2F%3E%0A%20%20%20%20%20%20%3C%2Fsvg%3E");
  background-position: 20px 20px;
  background-repeat: no-repeat;
  // padding: 14rem 16rem 12rem 14rem; // co gi sửa chô này lại page contact
}

// .background-page.contact {
//   background: #f0f0f0;
//   background-image: url("data:image/svg+xml,%3Csvg%20width%3D%221408%22%20height%3D%22580%22%20viewBox%3D%220%200%201408%20580%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cellipse%20cx%3D%22704%22%20cy%3D%22290%22%20rx%3D%22704%22%20ry%3D%22290%22%20fill%3D%22%23F2F6FC%22%20fill-opacity%3D%220.95%22%2F%3E%0A%3C%2Fsvg%3E%0A");
//   background-repeat: no-repeat;
//   background-position: center bottom -223px;
// }

//   Scroll Bar
body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(187, 187, 187);
  border-radius: 100rem;
}

// button
.btn {
  background: var(--primary-color);
  text-align: center;
  padding: 1rem 0;
  border-radius: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 1.6rem;
  padding: 1rem 1.6rem;
  transition: all 0.1s linear;
}

.btn:hover {
  opacity: 0.8;
  color: #fff;
  box-shadow: 12px 12px 30px 0px #0c0e2008;
}

.btn:focus {
  opacity: 0.8;
  box-shadow: none;
}

/* Responsive */

// Mobile: width < 740px
@media (max-width: 46.1875em) {

  // Background Page
  .background-page {
    background-image: unset;
  }

  .background-page.contact {
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%22566%22%20height%3D%22580%22%20viewBox%3D%220%200%20566%20580%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cellipse%20cx%3D%22283%22%20cy%3D%22290%22%20rx%3D%22283%22%20ry%3D%22290%22%20fill%3D%22%23F2F6FC%22%20fill-opacity%3D%220.95%22%2F%3E%0A%3C%2Fsvg%3E%0A");
    background-repeat: no-repeat;
    background-position: center bottom -237px;
  }
}

// Tablet: width >= 740px and width < 1024px
@media (min-width: 46.25em) and (max-width: 63.9375em) {}

@layer compenents {
  .wrapper {
    max-width: 1244px;
    width: 100%;
    margin: 0 auto !important;

    &.header-wr {
      max-width: 1376px;

    }
  }

  .animate-pulse {
    -webkit-animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }

  .animate-turnCircle {
    -webkit-animation: turnCircle 1s linear infinite alternate;
    animation: turnCircle 1s linear infinite alternate;
  }
}

@layer keyframes {
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes pulse {
    50% {
      opacity: 0.7;
    }
  }

  @keyframes turnCircle {
    100% {
      transform: rotate(30deg);
    }
  }
}