@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  font-size: 62.5%;
  line-height: 1.6rem;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  outline: none;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
  user-select: none;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  outline: none;
}
p,
h1,
h2,
h3,
h5,
h6,
h4 {
  margin: 0;
  padding: 0;
  outline: none;
}
span {
  outline: none;
}
img {
  display: block;
  max-width: 100%;
  user-select: none;
}




/* Mobie: width < 740px */
@media only screen and (max-width: 46.1875em) {
  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select:focus,
  textarea {
    font-size: 16px;
  }
}
