:root {
    --primary-color: #FF477E;
    --white-color: #fff;
    --text-color: #252D2E;

    --navbar-width: 140px;
    --navbar-height-mobile: 64px;
}

body {
    background-color: #f9f9f9;
    padding: 20px;
}

#main {
    background-image: url("data:image/svg+xml,%3Csvg%0A%20%20%20%20%20%20%20%20width%3D%22491%22%0A%20%20%20%20%20%20%20%20height%3D%222045%22%0A%20%20%20%20%20%20%20%20viewBox%3D%220%200%20491%202045%22%0A%20%20%20%20%20%20%20%20fill%3D%22none%22%0A%20%20%20%20%20%20%20%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%0A%20%20%20%20%20%20%3E%0A%20%20%20%20%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20%20%20%20d%3D%22M460.904%200H0V2045H271.404C287.973%202045%20301.404%202031.57%20301.404%202015V1237.53C301.404%201235.97%20301.526%201234.4%20301.77%201232.86L490.538%2034.6688C493.406%2016.463%20479.334%200%20460.904%200Z%22%0A%20%20%20%20%20%20%20%20%20%20fill%3D%22%2359C3FF%22%0A%20%20%20%20%20%20%20%20%2F%3E%0A%20%20%20%20%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20%20%20%20d%3D%22M460.904%200H0V2045H271.404C287.973%202045%20301.404%202031.57%20301.404%202015V1237.53C301.404%201235.97%20301.526%201234.4%20301.77%201232.86L490.538%2034.6688C493.406%2016.463%20479.334%200%20460.904%200Z%22%0A%20%20%20%20%20%20%20%20%20%20fill%3D%22white%22%0A%20%20%20%20%20%20%20%20%20%20fill-opacity%3D%220.8%22%0A%20%20%20%20%20%20%20%20%2F%3E%0A%20%20%20%20%20%20%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    height: 100%;
}

.content {
    padding: 140px;
}

/* Responsive */

// Mobile: width < 740px 
@media (max-width: 46.1875em) {
    body {
        padding: 0 16px 0;
    }

    #main {
        background-image: unset;
    }

    .content {
        padding: 87px 0 140px;
    }
}