:root {
  --primary-color: #d80001;
  --white-color: #fff;
  --text-color: #808089;
  --background-color: #f9f9f9;
  --heading-color: #757575;
  --title-color: #525050;
  --title-small-color: #312f2f;
  --title-big-color: #616161;

  --navbar-width: 140px;
  --navbar-height-tablet: 84px;
  --navbar-height-mobile: 64px;
}
