:root {

  --success-color: #68e354;
  --warn-color: #e0e417;
  --error-color: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    #ef233c;
}

.toasts {
  position: fixed;
  z-index: 120;
  top: 10rem;
  right: 1rem;
  .toast-box {
    margin-bottom: 1.6rem;
    padding: 2.6rem 3rem;
    padding-right: 4rem;
    font-size: 2.6rem;
    border-radius: 0.6rem;
    background: #fff;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation: slide-show 1.5s ease forwards;
    &__content {
      margin-left: 2rem;
    }
    &__title {
      font-size: 2.2rem;
      font-weight: 500;
      color: #333;
    }
    &__msg {
      margin: 0;
      font-size: 1.8rem;
      color: #888;
      margin-top: 6px;
      line-height: 1.5rem;
    }
    &__close {
      font-size: 2.8rem;
      margin-left: 1.4rem;
      color: #888;
      cursor: pointer;
    }
    &__countdown {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      animation: count-down 3s ease forwards;
    }
    &.success {
      border-left: 0.6rem solid var(--success-color);
      & .toast-box__countdown {
        border-bottom: 0.4rem solid var(--success-color);
      }
      & i {
        color: var(--success-color);
      }
    }

    &.warning {
      border-left: 0.6rem solid var(--warn-color);
      & .toast-box__countdown {
        border-bottom: 0.4rem solid var(--warn-color);
      }
      & i {
        color: var(--warn-color);
      }
    }

    &.error {
      border-left: 0.6rem solid var(--error-color);
      & .toast-box__countdown {
        border-bottom: 0.4rem solid var(--error-color);
      }
      & i {
        color: var(--error-color);
      }
    }
    &.hide {
      animation: slide-hide 1.5s ease forwards;
    }
  }
}



/* Responsive */

// Mobile: width < 740px 
@media (max-width: 46.1875em) {
  .toasts {
    right: 1.6rem;
    .toast-box {
      margin-bottom: 1.4rem;
      padding: 2.2rem 2.6rem;
      padding-right: 3.6rem;
      font-size: 2.2rem;
      animation: sliderRightShow 0.3s linear forwards;
      &__content {
        margin-left: 1.6rem;
      }
      &__title {
        font-size: 1.8rem;
      }
      &__msg {
        font-size: 1.4rem;
        margin-top: 5.6px;
      }
      &.hide {
        animation: sliderRightHide 1.5s ease forwards;
      }
    }
  }
}

// Tablet: width >= 740px and width < 1024px
@media (min-width: 46.25em) and (max-width: 63.9375em) {
  .toasts {
    .toast-box {
      margin-bottom: 1.6rem;
      padding: 2.4rem 2.8rem;
      padding-right: 3.8rem;
      font-size: 2.4rem;
      &__content {
        margin-left: 1.8rem;
      }
      &__title {
        font-size: 2rem;
      }
      &__msg {
        font-size: 1.6rem;
        margin-top: 5.8px;
      }
    }
  }
}



@keyframes sliderRightShow {
  0% {
    opacity: 0;
    transform: translate(100%);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}


@keyframes sliderRightHide {
  0% {
    opacity: 1;
    transform: translate(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(120%);
  }
}



@keyframes count-down {
  0% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}

@keyframes slide-show {
  0% {
    transform: translateX(100%);
  }

  25% {
    transform: translateX(-10%);
  }

  50% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-5%);
  }
}

@keyframes slide-hide {
  0% {
    transform: translateX(-5%);
  }

  25% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(-5%);
  }

  100% {
    transform: translateX(110%);
  }
}
