.form-order {
  width: 35%;
  &__wrap {
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 0 40px;
  }
  &__title{
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 20px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    position: relative;
    label {
      font-size: 1.6rem;
      margin-bottom: 4px;
    }
    input {
      padding: 14px;
      display: flex;
      justify-content: center;
      border-radius: 12px;
      border: 1px solid #ccc;
      font-size: 1.4rem;
    }
    span{
      position: absolute;
      font-size: 1.4rem;
      color: var(--primary-color);
      top: 100%;
    }
  }
  label{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  input{
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1.4rem;
    transition: all 0.1s linear;
  }
  input:focus{
    border: 1px solid var(--primary-color);
  }
  span{
    color: var(--primary-color);
    font-size: 1.3rem;
    font-weight: 500;
    position: absolute;
    top: 100%;
  }
  button{
    height: 50px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    font-weight: bold;
    transition: all 0.1s linear;
    &:hover{
      opacity: .75;
    }
  }
}

.form-img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  &__svg{
    width: 413px;
    height: 339px;
  }
}

.form-btn {
  width: 100%;
  padding: 14px;
  border-radius: 8px !important;
}
