:root {
    --primary: #FF477E;
    --price-text: #FF6259;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.home-below h2 {
    font-size: 3.2rem;
    font-weight: bold;
    text-transform: capitalize;
    color: #252D2E;
    text-align: center;
    margin: 8.8rem 0 2.5rem;
}

.home-below .pagination {
    margin-bottom: 8rem;
}

@media (max-width: 1380px) {
    html {
        font-size: 60%;
    }
    .home-below .row div .wrapper-item .content {
        padding: 1.2rem 0;
    }
    .home-below .row div .wrapper-item .content .btn {
        font-size: 1.4rem;
    }
}

@media (max-width: 991px) {
    .home-below {
        width: 80%;
    }
}

@media (max-width: 450px) {
    .home-below {
        width: 96%;
    }
}