.product-section {
  .product-btn-create {
    position: absolute;
    top: 9rem;
    right: 8rem;
    z-index: 1000;
    padding: 0.6rem 1.6rem;
    color: #fff;
    background-color: #5bbdff;
    border-radius: 0.8rem;
    font-size: 2.1rem;
    & i {
      font-size: 2.8rem;
      margin-right: 0.6rem;
    }
    &:hover {
      opacity: 0.8;
    }
  }
}
