.main-login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin: auto;
    .form{
        height: 50%;
    }
    .form-login {
        width: 50%;
        height: 60%;
        border-radius: 4px;
        padding: 16px;
        box-shadow: 0px 18px 30px rgba(0, 0, 0, 0.12);
        border-radius: 8px;
        .title-login{
            text-align: center;
            margin-bottom: 16px;
            span{
                font-size: 22px;
                font-weight: 500;
                color: #555555;
            }
        }
        .main-logo {
            max-width: 100%;
            max-height: 70px;
            img {
                width: 70px;
                height: 100%;
            }
        }
        .content-form{
            width: 400px;
            flex-direction: column;
            .form-group {
                margin-top: 8px;
                label {
                    font-size: 14px;
                    color:#555555
                }
                input {
                    height: 32px;
                    border-radius: 4px;
                    margin-top: 4px;
                    border:none;
                    font-size: 14px;
                    width: 100%;
                    border:1px solid rgba(204, 204, 204, 0.315);
                    &:focus{
                        box-shadow: none;
                        outline: none;
                        border:1px solid #ccc;
                    }
                }
            }
            .btn-action {
                margin-top: 16px;
                .btn-login {
                    outline: none;
                    background: #3f51b5;
                    color: #fff;
                    min-width: 90px;
                    border-radius: 4px;
                    border: 1px solid #3f51b5;
                    min-height: 32px;
                    font-size: 14px;
                    box-shadow: 0px 18px 30px rgba(0, 0, 0, 0.048);
                }
            }
        }
    }
}
